.display-books-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-items: center;
}

@media (min-width: 1060px) {
  .display-books-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .display-books-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .display-books-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.list-title {
  color: white;
  text-align: center;
}
